*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
body{
    margin: 0;
    background-color: #eee
}
  
#header{
    background-color: #eee;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    left: 0;
}
  
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 3rem ;
}
  
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0;
}
  
nav > ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center; 
}
  
nav > ul > a{
    display: block;
    font-size: 2rem;
    padding: 1.5rem;
    margin: 0;
    color: black;
    text-decoration: none;
}
  
main{
    padding-top: 7rem;
    background-color: #eee;
    width: 100%;
    height: 100%;
}
  
#home{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
    scroll-margin-top: 5rem;
}
  
.hero{
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.3em;
}
  
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
  
#email{
    width: 15vw;
    height: 4vh;
    margin-bottom: 0.7rem;
    min-width: 170px;
}
  
#submit{
    width: 11vw;
    font-size: 1.2rem;
    background-color: #f1c40f;
    cursor: pointer;
    min-width: 110px;
  
}
  
#features{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    scroll-margin-top: 5rem;
}
  
.feature1, .feature2, .feature3{
    display: flex;
}
  
.icon{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    width: 5%;
    color: darkorange;
}
  
.text{
    margin-left: 5rem;
    width: 90%;
}
  
.text h2{
    margin-bottom: -0.8rem;;
}
  
#how-it-works{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    scroll-margin-top: 6rem;
}
  
#video{
    border-radius: 5%;
}
  
#products{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
    scroll-margin-top: 5rem;
}
  
.toy1, .toy2, .toy3{
    width: 26%;
    border: 2px solid black;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
  
.name{
    background-color: #ddd;
}
  
.name p{
    text-align: center;
    font-size: 2.8rem;
    width: 100%;
    margin: 0;
    color: black;
}

.price p{
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
}

.buy{
    display: flex;
    justify-content: center;
}
  
.buy button{
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    width: 70%;
    background-color: #f1c40f;
    cursor: pointer;
}
  
.figure img{
    width: 100%;
    margin: 0;
}
  
footer{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
    margin-bottom: 0;
}
  
.footer{
    display: flex;
    flex-direction: column;
    margin-right: 0;
    align-items: flex-end;
}
  
  .privacy-terms{
    width: 30%;
}
  
.privacy-terms ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
  
}
  
.privacy-terms ul a{
    color: black;
    text-decoration: none;
}

.copyright{
    width: 30%;
    padding-left: 10%;
    text-align: center;
    color: #444;
}
  
@media only screen and (max-width: 1250px){
    #home, #features, #how-it-works, #products, footer{
        width: 80%;
    }
  
}
  
@media only screen and (max-width: 1100px){
    #home, #features, #how-it-works, #products, footer{
        width: 90%;
    }
  
    .logo{
        height: 50%;
        margin: 0;
    }
  
    nav{
        margin: 0;
    }
  
    nav > ul >a{
        font-size: 1.7rem;
        padding: 1.2rem;
    }
}
  
@media only screen and (max-width: 950px){
    #home, #features, #how-it-works, #products, footer{
        width: 100%;
    }
  
    nav > ul >a{
        font-size: 1.5rem;
        padding: 1rem;
    }
}
  
@media only screen and (max-width: 840px){
    .toy1, .toy2, .toy3{
        width: 33%;
    }
  
    .logo img{
        width: 80%;
    }
}
  
@media only screen and (max-width: 750px){
    nav > ul >a{
        font-size: 1.2rem;
        padding: 0.8rem;
    }
  
    .toy1, .toy2, .toy3{
        width: 40%;
    }
  
    .footer{
        align-items: flex-end;
    }
  
    .privacy-terms{
        width: 60%;
    }
  
    .copyright{
        width :60%;
    }
}
  
@media only screen and (max-width: 650px){
    nav> ul > a{
        font-size: 1.1rem;
        padding: 0.5rem;
    }
  
    .privacy-terms, .copyright{
        width: 70%;
    }
}
  
@media only screen and (max-width: 550px){
    .toy1, .toy2, .toy3{
        width: 60%;
    }
  
    nav > ul >a{
        font-size: 1rem;
        padding: 0.4rem;
    }
}
  
@media only screen and (max-width: 400px){
    toy1, .toy2, .toy3{
        width: 75%;
    }
}